<template>
    <v-container>
        <v-layout row wrap align-content-center justify-center>
            <v-flex xs12 sm-12 md4 lg3>
                <p class="text-xs-center">{{loadingText}}</p>
                <v-progress-linear :indeterminate="true" height="2"></v-progress-linear>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    props:{
        loadingText:String,
    }
}
</script>

<style>

</style>
