@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost-100-hairline-webfont.woff2') format('woff2'),
         url('../fonts/jost-100-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost-200-thin-webfont.woff2') format('woff2'),
         url('../fonts/jost-200-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'jostlight';
    src: url('../fonts/jost-300-light-webfont.woff2') format('woff2'),
         url('../fonts/jost-300-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jostbook';
    src: url('../fonts/jost-400-book-webfont.woff2') format('woff2'),
         url('../fonts/jost-400-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jostmedium';
    src: url('../fonts/jost-500-medium-webfont.woff2') format('woff2'),
         url('../fonts/jost-500-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'jostsemi';
    src: url('../fonts/jost-600-semi-webfont.woff2') format('woff2'),
         url('../fonts/jost-600-semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'JostBold';
    src: url('../fonts/jost-700-bold-webfont.woff2') format('woff2'),
         url('../fonts/jost-700-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost-800-heavy-webfont.woff2') format('woff2'),
         url('../fonts/jost-800-heavy-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}