
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Material+Icons');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


// Variables
@import 'variables';
// Font
@import 'font';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@font-face {
  font-family: "Renner";
  src: url("../fonts/renner-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Renner Med";
  src: url("../fonts/renner-medium-webfont.woff") format("woff");
}

@import '~vuetify/dist/vuetify.min.css';

*::selection{
  background-color: $black;
  color: $white;
}
*{
  font-family: $font-family-sans-serif;
}
.main-font{
  font-family: $font-family-sans-serif !important;
}
.navbar-laravel {
  background-color: #fff;
}
.navbar-laravel .navbar-nav .nav-item .nav-link{
  color: $black;
  text-transform: uppercase;
  font-size: 12px;
}
.doppleg{
  min-height:200px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.border-radius-0{
  border-radius: 0;
}
.text-thin{
  font-family: 'jostlight';
}
.material-icons{
  vertical-align: middle; 
  margin-top: -4px;
}
.line-heighted{
  line-height: 40px;
}
.apartment-listing .card{
  border:none;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.1);
}