<template>
    <div class="jumbotron mb-0 bg-white">
        <div class="container">
            <div class="row">
               
                <form class="form col-sm-12 col-md-6">
                    <v-text-field label="Regular" placeholder="Placeholder"></v-text-field>            
                    <div class="form-group">
                        <datetime v-model="booking.checkin" :min-datetime="minStart" @close="GetDateStatus" input-id="booking.checkin" input-class="form-control">
                            <label for="booking.checkin" slot="before">Check-in Date</label>
                        </datetime>
                    </div>
                    <div class="form-group">
                        <datetime v-model="booking.checkout" input-id="booking.checkout" input-class="form-control">
                            <label for="booking.checkout" slot="before">Check-out Date</label>
                        </datetime>
                    </div>
                    <div class="form-group">
                        <label for="booking.name">Full name</label>
                        <input type="text" name="booking.name" class="form-control" id="booking.name" />
                    </div>
                    <div class="form-group">
                        <label for="booking.email">Email ID</label>
                        <input type="email" name="booking.email" class="form-control" id="booking.email" />
                    </div>
                    <div class="form-group">
                        <label for="booking.phone">Phone No</label>
                        <input type="email" name="booking.phone" class="form-control" id="booking.phone" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
export default {
    props:{
        id:{},
        apartment:String,
    },
    components: {
        
    },    
    data() {
        return {
            apar:{

            },
            minStart:new Date().toString(),
            booking:{
                name:"",
                checkin:"",
                checkout:"",
            }
        }
    },
    watch: {

    },
    created() {
        this.apar = JSON.parse(this.apartment)
    },
    methods: {
        GetDateStatus(){
            console.log(this.booking.checkin)
        }
    },
}
</script>

