<template>
  <v-app>
  <v-navigation-drawer app v-model="drawer" absolute temporary>
        <v-divider></v-divider>
        <v-list>
        <v-list-tile >
          <v-list-tile-content>
            <v-list-tile-title>
              <router-link class="toolbar-item" to="/">Home</router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile >
          <v-list-tile-content>
            <v-list-tile-title>        
              <router-link class="toolbar-item" :to="{name:'About'}">About</router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile >
          <v-list-tile-content>
            <v-list-tile-title>              
              <router-link class="toolbar-item" :to="{name:'Apartments'}">Apartments</router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile >
          <v-list-tile-content>
            <v-list-tile-title>              
              <router-link class="toolbar-item" :to="{name:'Contact'}">Contact</router-link>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>              
      </v-list>
  </v-navigation-drawer>
  <v-toolbar app flat class="white">
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link :to="{name:'Home'}">
          <img :src="require('@/assets/images/logo.jpg')" alt="" style="width:30px;margin-top:4px;">
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-md-and-up">
        <a target="_blank" href="https://www.facebook.com/bestcorporateservices/" class="toolbar-item" ><v-icon color="blue darken-3" size="18px">fab fa-facebook</v-icon></a>
        <a target="_blank" href="https://www.instagram.com/best_c_s/" class="toolbar-item" ><v-icon color="pink lighten-1" size="18px">fab fa-instagram</v-icon></a>
        <a target="_blank" href="https://www.linkedin.com/in/best-serviced-apartments-93b653166//" class="toolbar-item" ><v-icon color="blue darken-4" size="18px">fab fa-linkedin</v-icon></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=919497874551" class="toolbar-item" ><v-icon color="green darken-2" size="18px">fab fa-whatsapp</v-icon></a>
      </v-toolbar-items>      
      <v-toolbar-items class="hidden-sm-and-down">
        <router-link class="toolbar-item" to="/">Home</router-link>
        <router-link class="toolbar-item" :to="{name:'About'}">About</router-link>
        <router-link class="toolbar-item" :to="{name:'Apartments'}">Apartments</router-link>
        <router-link class="toolbar-item" :to="{name:'Contact'}">Contact</router-link>
        <span class="toolbar-item" >|</span>
        <a target="_blank" href="https://www.facebook.com/bestcorporateservices/" class="toolbar-item" ><v-icon color="blue darken-3" size="18px">fab fa-facebook</v-icon></a>
        <a target="_blank" href="https://www.instagram.com/best_c_s/" class="toolbar-item" ><v-icon color="pink lighten-1" size="18px">fab fa-instagram</v-icon></a>
        <a target="_blank" href="https://www.linkedin.com/in/best-serviced-apartments-93b653166//" class="toolbar-item" ><v-icon color="blue darken-4" size="18px">fab fa-linkedin</v-icon></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=919497874551" class="toolbar-item" ><v-icon color="green darken-2" size="18px">fab fa-whatsapp</v-icon></a>
      </v-toolbar-items>
    </v-toolbar>    
    <v-content>
        <router-view></router-view>
    </v-content>
    <div class="py-0"></div>
  <v-footer height="auto">
    <v-container>
      <v-layout grid wrap>
        <v-flex sm12 md4>
          <p>All Rights Reserved. &copy; {{new Date() | moment("YYYY")}}. Synamatics.</p>
        </v-flex>
        <v-flex sm12 md8 class="text-xs-right">
          <a target="_blank" href="https://www.facebook.com/bestcorporateservices/" class="toolbar-item" ><v-icon color="blue darken-3" size="18px">fab fa-facebook</v-icon></a>
          <a target="_blank" href="https://www.instagram.com/best_c_s/" class="toolbar-item" ><v-icon color="pink lighten-1" size="18px">fab fa-instagram</v-icon></a>
          <a target="_blank" href="https://www.linkedin.com/in/best-serviced-apartments-93b653166//" class="toolbar-item" ><v-icon color="blue darken-4" size="18px">fab fa-linkedin</v-icon></a>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=919497874551" class="toolbar-item" ><v-icon color="green darken-2" size="18px">fab fa-whatsapp</v-icon></a>
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer:false,
    }
  },
  created() {
  },
}
</script>

<style>

</style>

