@import url(https://fonts.googleapis.com/css?family=Material+Icons);@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);@font-face {
  font-family: "Jost";
  src: url(/fonts/jost-100-hairline-webfont.woff2?b9b1534a8d036479771b43d74690f8f8) format("woff2"), url(/fonts/jost-100-hairline-webfont.woff?ce2298e1508dd5dbc47eb817709bee4f) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url(/fonts/jost-200-thin-webfont.woff2?dde547e65f33c444954dda5aad68ce6b) format("woff2"), url(/fonts/jost-200-thin-webfont.woff?a91f73476984bab60e66b91627123464) format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "jostlight";
  src: url(/fonts/jost-300-light-webfont.woff2?dd9bf845901e3bc28e2fdf134d4de887) format("woff2"), url(/fonts/jost-300-light-webfont.woff?2a7676282e8f5834b118aab037b734f6) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostbook";
  src: url(/fonts/jost-400-book-webfont.woff2?58b90b0a48e8c20d6b4dbe65e02a7ef4) format("woff2"), url(/fonts/jost-400-book-webfont.woff?2a9319660e41395379bb6165305cbf9d) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostmedium";
  src: url(/fonts/jost-500-medium-webfont.woff2?6fd651ff869b4c5d20ae76fb1789cb57) format("woff2"), url(/fonts/jost-500-medium-webfont.woff?2a897949a62bd050e83baf5523abc1e2) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostsemi";
  src: url(/fonts/jost-600-semi-webfont.woff2?cee4e71b1ce28b4137c1a355325a229d) format("woff2"), url(/fonts/jost-600-semi-webfont.woff?fc024905d29980ba3c55c83f9514f592) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JostBold";
  src: url(/fonts/jost-700-bold-webfont.woff2?8cc1e500edc3e94fee811f7056645e6f) format("woff2"), url(/fonts/jost-700-bold-webfont.woff?761cc9c2e3e45d661b9063f2a7e09920) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url(/fonts/jost-800-heavy-webfont.woff2?17b9c1c799886e904a5cdd5be1069bc5) format("woff2"), url(/fonts/jost-800-heavy-webfont.woff?87257410e8629a2c82158bf702bf80d3) format("woff");
  font-weight: 800;
  font-style: normal;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

*::selection {
  background-color: #000000;
  color: #ffffff;
}

.application::-moz-selection {
  border-color: #000000;
  color: #ffffff;
}

.application::selection {
  border-color: #000000;
  color: #ffffff;
}

.application {
  line-height: 1.5;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "jostmedium" !important;
}

.toolbar-item {
  font-family: "jostlight";
  margin-top: 5px;
  padding: 16px 10px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-home-landing {
  min-height: 40vh;
}

.main-text {
  font-family: "jostlight";
  font-size: 4rem;
  letter-spacing: 0px;
  line-height: 4rem;
}

a {
  text-decoration: none;
}

.line-heighted-para {
  line-height: 40px;
  letter-spacing: 0.5px;
}

.border-bottom {
  border-bottom: 1px solid #efefef;
}

.c-bnt {
  padding: 5px;
  font-size: 20px;
  width: 24%;
  color: #000000;
  border-radius: 4px;
  margin: 0;
  border: 1px solid #000000;
  outline: none;
}

.c-bnt:hover,
.c-bnt:focus {
  background-color: #000000;
  color: #ffffff;
}

.form-control {
  margin: 0;
  border: 1px solid #000000;
  padding: 5px;
  font-size: 20px;
  width: 48%;
  text-align: center;
}

.linehighted {
  line-height: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

blockquote {
  color: #9e9e9e;
}

