<template>
  <div class="about">
      <v-responsive class="white main-home-landing" mb-0>
        <v-container>
          <div class="py-4"></div>
          <div class="py-4 text-xs-center">
            <h1 class="display-1 grey--text font-weight-medium">About Best Serviced Apartments</h1>
            <div class="py-4"></div>
            <div class="py-4"></div>
              <p class="text-xs-center linehighted">
                Best Serviced apartments offer a fine mix of a standard , superior and deluxe apartments to rent within mintiues in Technopark main areas .which are larger than hotel rooms, range from spacious Studios to the ultimate in luxury, two 4 bedroom penthouses with private access.
                This neo-classical style properties are four stylish apartment that has been designed to maximise light and space whilst retaining its period features.
              </p>       
             <p class="text-xs-center linehighted">
                Each Serviced Apartment is elegantly furnished to provide comfortable, uncluttered accommodation for business travellers, leisure visitors and families. The apartments offer an ideal rental accommodation solution for short or long stays for the corporate or leisure visitor
              </p>
              <p class="text-xs-center linehighted">
                Posted at the most happening part of Trivandrum city is BEST Serviced Apartments with its immaculate services and a populous variety of hotel amenities. Our hospitality to guests is based on the comfort and values of perfection and we treasure the presence of every guest. At Best Serviced Apartments we make sure that all our customers enjoy a unique homestay experience and make the best use of all the favor that we have to offer.
              </p>                   
              <p class="text-xs-center linehighted">
                We have a passion for hospitality and property service which is reflected in our commitment to excellence. Our idea and focus on quality service are passed down to the new employees from time to time. We have earned the fruits of integrity, respect, and dedication to our hard efforts.
              </p>                   
          </div>
        </v-container>
      </v-responsive>   
        <v-layout grid wrap>
          <v-flex sm4 class="white--text">
            <v-container>
              <v-img
                  :src="require('@/assets/images/11080461053_1020aa0a78_b.jpg')"
                  :lazy-src="require('@/assets/images/11080461053_1020aa0a78_b.jpg')"
                  aspect-ratio="1"
                  class="grey lighten-2"
              />
            </v-container>
          </v-flex>
          <v-flex sm4 class="white--text">
            <v-container>
              <v-img
                  :src="require('@/assets/images/technopark.jpg')"
                  :lazy-src="require('@/assets/images/technopark.jpg')"
                  aspect-ratio="1"
                  class="grey lighten-2"
              />
            </v-container>
          </v-flex>
          <v-flex sm4 class="white--text">
            <v-container>
              <v-img
                  :src="require('@/assets/images/GreenFrame_Glimakra_of_Sweden-1.jpg')"
                  :lazy-src="require('@/assets/images/GreenFrame_Glimakra_of_Sweden-1.jpg')"
                  aspect-ratio="1"
                  class="grey lighten-2"
              />
            </v-container>
          </v-flex>
        </v-layout>
  </div>
</template>

