<template>
<div>
    <v-responsive class="white main-home-landing" mb-0>
      <v-container>
      <div class="py-4"></div>
      <div class="py-4 text-xs-center grey--text">
        <h1 class="display-1 font-weight-medium">Our Apartments</h1>
        <p>Unwind the clock of modern life. Unlock the door to a wonder of the world.</p>
      </div>
      </v-container>
    </v-responsive>  
    <loader v-if="isloading" loading-text="Checking all Apartments"></loader>
    <div v-else  class="mb-0">
        <section>
            <v-layout row wrap v-for="(apartment, i) in apartments" :key="i">
                <v-flex xs12 md6 lg8 v-if="isOdd(i)">
                    <v-parallax height="300" :src="apartment.image_url"></v-parallax>
                </v-flex>
                <v-flex xs12 md6 lg4 class="primary white--text">
                    <v-container>
                    <div class="px-3 pt-5 pb-2">
                    <h1 class="display-6">{{apartment.name}}</h1>
                    <small>From</small>
                    <h2>Rs.{{apartment.lowestprice.amount}}*</h2>   
                    </div>
                    <v-btn rotuer-link :to="{name:'Apartment',params:{id:apartment.slug}}" color="white" small flat>More Details <v-icon>arrow_forward</v-icon></v-btn>
                    </v-container>
                </v-flex>
                <v-flex xs12 md6 lg8 v-if="!isOdd(i)">
                    <v-parallax height="300" :src="apartment.image_url" class="primary lighten-2"></v-parallax>
                </v-flex>
            </v-layout>
        </section>            
    </div>
</div>    
</template>

<script>
export default {
    data() {
        return {
            isloading:false,
            apartments:{

            },
            apartment:{

            }
        }
    },
    created() {
        this.Apartments();
    },
    methods: {
        isOdd(num) {
            if(num % 2){
                return true
            }
            else{
                return false
            }
        },
        Apartments(){
            this.isloading = true;
            this.$store.dispatch("GetApartments")
            .then(res=>{
                this.apartments = res.data;
            })
            .catch(error=>{

            })
            .finally(()=>{
                this.isloading = false;
            })
        }
    },
}
</script>

<style>

</style>
