<template>
  <div>
    <loader v-if="isloading" class="py-5" loading-text="Getting apartment details"></loader>
    <div v-else>
      <v-responsive class="white main-home-landing" mb-0>
        <v-container>
          <div class="py-4"></div>
          <div class="py-4 text-xs-center grey--text">
            <h1 class="display-1 font-weight-medium">{{apartment.name}}</h1>
            <h4 class="subheading">{{apartment.subtitle}}</h4>
          </div>
        </v-container>
      </v-responsive>
      <v-parallax dark height="300" :src="apartment.image_url">
        <v-layout align-center column justify-center>
          <small>From</small>
          <h1 class="display-1 font-weight-medium">Rs.{{parseInt(apartment.lowestprice.amount).toLocaleString()}}*</h1>
          <v-btn color="white" flat href="#available-options">Available Options</v-btn>
        </v-layout>
      </v-parallax>
      <section class="white">
        <v-container>
          <section class="py-4">
            <p class="text-xs-justify line-heighted-para" v-html="apartment.description"></p>
          </section>
        </v-container>
      </section>
      <section class="primary white--text">
        <v-container>
          <v-layout row wrap class="">
            <v-flex xs12 md6 class="px-3">
              <h3 class="display-5">Amenities</h3>
              <p class="line-heighted-para" v-html="apartment.amenities"></p>
            </v-flex>
            <v-flex xs12 md6>
              <h3 class="display-5">Services</h3>
              <p class="line-heighted-para" v-html="apartment.services"></p>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
      <section class="white primary--text text-xs-center" id="available-options">
        <v-container>
          <h2 class="display-5 mb-4">Available Options</h2>
          <v-layout row wrap align-center justify-center>
            <v-flex xs12 md4 lg3 class="px-3 mb-4" v-for="variation in apartment.variations" :key="variation.id">
              <h3 class="display-5">{{variation.name}}</h3>
              <h2>Rs.{{parseInt(variation.amount).toLocaleString()}}* <small>/Person</small></h2>
              <h4>Maximum {{variation.members}} Members</h4>
              <h4 v-if="variation.availablity" class="green--text text--darken-1">{{variation.availablity.length}}
                Apartments Vacant</h4>
              <h4 v-else class="red--text text--darken-1">Not Available</h4>
              <!-- {{variation}} -->
            </v-flex>
          </v-layout>
          <v-btn color="primary" :disabled="!ism" depressed @click="dialog = true">Book Now</v-btn>
        </v-container>
      </section>
      <v-dialog v-model="dialog" :width="(step == 5) ? 600:300" persistent>
                <v-card flat>
                <v-window v-model="step">

                    <v-window-item :value="1">
                    <v-container >
                        <h3 class="text-xs-center mb-4">When are you Planning?</h3>
                    </v-container>
                        <v-layout align-center justify-center>
                            <v-date-picker v-model="order.checkin" :min="checkin.mindate" :max="checkin.maxdate" no-title></v-date-picker>
                        </v-layout>
                    </v-window-item>

                    <v-window-item :value="2">
                    <v-container>
                        <h3 class="text-xs-center mb-4">How Many Nights are you planning to Stay?</h3>
                        <NumberInputSpinner :min="1" :max="365" inputClass="form-control" buttonClass="c-bnt" :integerOnly="true" v-model="order.days" />                
                    </v-container>
                    </v-window-item>

                    <v-window-item :value="3">
                    <v-container>
                        <h3 class="text-xs-center mb-4">Select Options</h3>
                        <div v-for="(variation,i) in apartment.variations" :key="variation.id">
                            <v-checkbox 
                            color="primary" 
                            v-model="order.variations" 
                            :value="variation"
                            :disabled="!variation.availablity"
                            :label="variation.name"></v-checkbox>
                            <div v-if="CheckInOrderVariation(variation.id) >= 0">
                                <NumberInputSpinner 
                                :min="1"
                                :max="1000"
                                :ref="'variationSelected-'+variation.id"
                                inputClass="form-control" 
                                buttonClass="c-bnt" 
                                v-model="updateable.variations[i].members"
                                />
                            </div>
                        </div>
                    </v-container>
                    </v-window-item>

                    <v-window-item :value="4">
                        <v-container>
                            <h3 class="text-xs-center mb-4">Your Details</h3>
                            <v-text-field v-model="order.name"  type="name" label="Name" required ></v-text-field>
                            <v-text-field v-model="order.email" type="email" label="Email" required ></v-text-field>
                            <v-text-field 
                                v-model="order.phone" 
                                mask="+(##) #### ## ####" 
                                type="text" 
                                label="Phone" 
                                hint="Phone number with Country Code"
                                required ></v-text-field>
                                <div class="py-1"></div>
                            <v-text-field v-model="order.country" type="text" label="Country" required ></v-text-field>
                            <v-text-field v-model="order.password" type="password" label="Password" required ></v-text-field>
                        </v-container>
                    </v-window-item>

                    <v-window-item :value="5">
                    <v-container>
                    <div class="px-3 py-2" v-if="order.days && order.checkin">
                        <h2 class="display-1 grey--text">Your Trip</h2>
                        <v-divider class="mb-3 mt-3"></v-divider>
                        
                        <h4 class="mt-2">Name</h4>
                         {{order.name}}
                        <h4 class="mt-2">Email</h4>
                         {{order.email}}
                        <h4 class="mt-2">Phone</h4>
                         {{order.phone}}
                        <h4 class="mt-2">Country</h4>
                         {{order.country}}
                        <v-divider class="mb-3 mt-3"></v-divider>

                        <h4 class="mt-2">From</h4>
                        <span>{{ order.checkin | moment("DD MMMM YYYY") }}</span>
                        <h4 class="mt-2">To</h4>
                        <span>{{ order.checkin | moment('add', order.days+' days',"DD MMMM YYYY") }}</span>
                        <h4 class="y">Members</h4>
                        <span>{{ sum('members') }} {{(sum('members') == 1) ? 'Person':"People"}} </span>
                        <div v-for="(variationSelected, ivs) in order.variations" :key="ivs">
                            {{variationSelected.name}} = {{parseInt((parseInt(variationSelected.members) * parseInt(variationSelected.amount))*parseInt(order.days)).toLocaleString()}}<br/>
                            <small>({{variationSelected.members}} {{(variationSelected.members == 1) ? 'Person':"People"}}  X Rs.{{parseInt(variationSelected.amount).toLocaleString()}} X {{parseInt(order.days)}} Days )</small>
                        </div>
                        <v-divider class="mb-3 mt-3"></v-divider>
                        <div class="py-4">
                            <small>Total</small>
                            <h1>Rs.{{Total()}}</h1>
                        </div>
                    </div>
                  </v-container>
                    </v-window-item>
                   
                <v-window-item :value="6">
                    <v-container>
                        <v-layout align-center column justify-center class="text-xs-center">
                            <v-icon color="warning lighten-2" size="40">history</v-icon>
                            <h2>Your Booking has been placed. </h2>
                            <p>Our Team will check the availablity and you would receive an automated Email with a link to make the payment. You can either make and advance or pay the amount in full, based on your convenience.</p>
                        </v-layout>
                    </v-container>
                </v-window-item>

                </v-window>
            <v-card-actions v-if="step !== 6" >
            <v-btn flat @click="dialog = false" >Cancel</v-btn>
            <v-btn :disabled="step === 1" flat @click="step--" >Back</v-btn>
            <v-spacer></v-spacer>
            <v-btn small color="primary" depressed @click="BookingValidation" :loading="formloading">Next</v-btn>
            </v-card-actions>          
            <v-card-actions v-else >
                <v-btn flat @click="dialog = false" >Close</v-btn>
            </v-card-actions>          
            </v-card>                  
      </v-dialog>
      <v-btn color="primary" dark small fixed bottom right fab @click="dialog = true">
        <v-icon>add</v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import NumberInputSpinner from 'vue-number-input-spinner'
  export default {
    data() {
      return {
        step: 1,
        isloading: false,
        formloading:false,
        dialog: false,
        ism: false,
        apartment: {
          name: "",
          lowestprice: {},
        },
        updateable:{

        },
        checkin: {
          maxdate: "",
          mindate: "",
        },
        order: {
          checkin: "",
          days: 1,
          name: "",
          email: "",
          gender: "",
          variations:[],
        }
      }
    },
    computed: {
      CheckBooking() {
        this.ism = false;
          for (let i = 0; i < this.apartment.variations.length; i++) {
              const element = this.apartment.variations[i];
                if (element.availablity.length) {
                    this.ism = true;
                }              
              this.updateable.variations[i].members = parseInt(element.members);
          }        
      },

    },
      components: {
    NumberInputSpinner,
  },
    created() {
      this.Apartment();
      this.checkin.mindate      = moment().add(5, 'days').format("YYYY-MM-DD");
      this.order.checkin        =  this.checkin.mindate;
      let vm  = this;
      Instamojo.configure({
        amount:2000,
        handlers: {
          onOpen: function() {
            vm.formloading = true;
          },
          onClose: function() {
            vm.formloading = false;
          },
          onSuccess: function(response) {},
          onFailure: function(response) {}
        }
      });      
    },
    methods: {
      instaonOpen: function() {},
      instaonClose: function() {},
      instaonSuccess: function(response) {},
      instaonFailure: function(response) {},
      CheckInOrderVariation(id) {
        return this.order.variations.map(function(e) { return e.id; }).indexOf(id)
      },
     sum(key) {
        return this.order.variations.reduce((a, b) => a + (b[key] || 0), 0);
    },           
    Total() {
        let tot = 0;
        for (let i = 0; i < this.order.variations.length; i++) {
            const element = this.order.variations[i];
            tot  = tot + parseInt((parseInt(element.members) * parseInt(element.amount))*parseInt(this.order.days));
        }
        return tot.toLocaleString();
    },           
    isOdd(num) {
        if (num % 2) {
          return true
        } else {
          return false
        }
      },
      BookingValidation(){
          let currentStep = this.step;
            switch (currentStep) {
                case 1:
                this.step++;
                break;
                case 2:
                this.step++;
                break;
                case 3:
                if(this.order.variations.length){
                    this.step++;
                }
                else{
                    alert("Please Select atleast one Option")
                }
                break;
                case 4:
                this.step++;
                break;
                case 5:
               
                  Instamojo.open("https://test.instamojo.com/@synamatics");
                break;
                
                default:
                
                break;
            }
      },
      Apartment() {
        this.isloading = true;
        this.$store.dispatch("GetApartment", this.$route.params.id)
          .then(res => {
            this.apartment  = res.data;
            this.updateable = res.data;
            this.CheckBooking
            document.title = this.apartment.name;
          })
          .catch(error => {
            alert(error)
          })
          .finally(() => {
            this.isloading = false;
          })
      },
      ConfirmOrder() {

      }
    },
  }

</script>

<style>

</style>
