<template>
    <div v-if="isloading" class="pt-5 white">
        <loader loading-text="Getting apartment details"></loader>
    </div>
    <div v-else>
        <v-responsive class="white main-home-landing" mb-0>
            <v-container>
                <div class="py-4"></div>
                <div class="py-4 grey--text">
                    <h2 class="subtitle font-weight-medium">Booking For</h2>
                    <h1 class="display-1 font-weight-medium">{{apartment.name}}</h1>
                </div>
            </v-container>
        </v-responsive>
        <section class="white">
            <v-container>
                <v-window v-model="step">
                    <v-window-item :value="1">
                    <h4>Select your Check-In Date</h4>
                        <v-date-picker v-model="order.checkin" :min="checkin.mindate" :max="checkin.maxdate" no-title></v-date-picker>
                    </v-window-item>
                </v-window>
            </v-container>
        </section>
    </div>
</template>
<script>
import moment from 'moment'
  export default {
    data: () => ({
        step: 1,
        isloading:false,
        apartment:{

        },
        checkin:{
            maxdate:"",
            mindate:"",
        },
        checkout:{
            maxdate:"",
            mindate:"",
        },        
        order:{
            checkin:"",
            checkout:'',
            name:"",
            email:"",
            gender:"",
        }      
    }),
    created() {
        this.Apartment()
        this.checkin.mindate    = moment().add(3, 'days').format("YYYY-MM-DD");
        this.checkout.mindate   = moment(this.checkin.mindate).add(1, 'days').format("YYYY-MM-DD");
        this.order.checkin      = this.checkin.mindate;
        this.order.checkout     = this.checkout.mindate;        
    },
    computed: {
      currentTitle () {
        switch (this.step) {
          case 1: return 'Sign-up'
          case 2: return 'Create a password'
          default: return 'Account created'
        }
      }
    },
    methods: {
        Apartment(){
            this.isloading = true;
            this.$store.dispatch("GetApartment",this.$route.params.id)
            .then(res=>{
                this.apartment = res.data;
                this.CheckBooking()
            })
            .catch(error=>{

            })
            .finally(()=>{
                this.isloading = false;
            })
        }
    },    
  }
</script>
