<template>
  <div class="about">
      <v-responsive class="white main-home-landing" mb-0>
        <v-container>
          <div class="py-4"></div>
          <div class="py-4 grey--text">
            <h1 class="display-1 font-weight-medium">Get in Touch</h1>
          </div>
        </v-container>
      </v-responsive>   
    <v-layout row wrap>
        <v-flex xs12 md4 class="primary white--text">
            <v-container>
              <div class="px-4">
                
            <h4 class="">Address</h4>
            <h3>
                <span>BEST Serviced Apartments</span><br/>
                Near Infosys, Technovalley<br/>
                Trivandrum, Kerala, India
            </h3>
            <div class="py-3"></div>
            <h4 class="">Call us In</h4>
            <h3>
                +(91) 95 6760 9067<br>
                +(91) 94 9787 4551 
            </h3>   
            <div class="py-3"></div>
            <h4 class="">Drop a Mail</h4>
                <h3>Enquiries \ bestservicedapartments@gmail.com</h3>
                <h3>Booking \ booking@bestcs.com</h3>
              </div>
            </v-container>
        </v-flex>
        <v-flex>
          <GmapMap :center="{lat:8.526577, lng:76.887550}" :zoom="20" :position="{lat:8.526577, lng:76.887550}"  style="width: 100%; height: 500px"></GmapMap>
        </v-flex>
    </v-layout>
  </div>
</template>
<script>

export default {
    data() {
        return {
            map:"",
        }
    },
    created(){
        
    },
    methods: {}
}
</script>
<style>
    .map{
        width:100%;
        height: 400px;
    }
    .address{
        font-size: 15px;
    }
</style>