<template>
  <div>
    <v-responsive class="white main-home-landing">
      <v-container>
      <div class="py-4"></div>
      <div class="py-4 black--text ">
        <h1 class="main-text">
          <span class="animated fadeInDown">The Best Serviced Apartments.</span> <br>
          <span class="animated fadeInDown" data-wow-delay="1s">Best In Trivandrum.</span>
          </h1>
        <p>Unwind the clock of modern life. Unlock the door to a wonder of the world.</p>
      </div>
      </v-container>
    </v-responsive>
    <section>
      <v-layout row wrap>
        <v-flex xs12 sm12 md6 lg4 class="primary py-4 px-4 white--text">
          <v-container>
          <div class="py-4 px-4">
            <h2>Premium Single Bedroom</h2>
            <small>From</small>
            <h2>Rs. 2,400*</h2>
          </div>
          <v-btn flat color="white" router-link to="/apartment/premium-single-bedroom">More Details <v-icon>arrow_forward</v-icon></v-btn>
          <v-btn color="white" router-link :to="{name:'Apartments'}">All Apartments <v-icon>arrow_forward</v-icon></v-btn>
          </v-container>
        </v-flex>
        <v-flex xs12 sm12 md6 lg8>
          <v-parallax :src="require('@/assets/images/bedroom-416062.jpg')" height="300" class="primary lighten-2"></v-parallax>
        </v-flex>
      </v-layout>
    </section>
    <section class="white" id="services">
      <v-container>
        <v-layout row wrap>
          <v-flex xs12 sm12 md6 lg3 class="py-4 px-4 text-xs-center">
            <v-icon color="blue darken-2">fas fa-wind</v-icon>
            <div class="py-1"></div>
            <h3>Fully Furnished & A/C</h3>
            <p>Fully furnished a/c apartments with 1/2/3/4 bedroom options</p>
          </v-flex>
          <v-flex xs12 sm12 md6 lg3 class="py-4 px-4 text-xs-center">
            <v-icon color="green darken-2">fas fa-map</v-icon>
            <div class="py-1"></div>
            <h3>Good Proximity</h3>
            <p>Technopark, Infosys, UST Global campuses and 5 min drive to airport</p>
          </v-flex>
          <v-flex xs12 sm12 md6 lg3 class="py-4 px-4 text-xs-center">
            <v-icon color="blue lighten-2">fas fa-wifi</v-icon>
            <div class="py-1"></div>
            <h3>Free Wifi & TV</h3>
            <p>We provide FREE high speed internet via wifi and cable TV</p>
          </v-flex>
          <v-flex xs12 sm12 md6 lg3 class="py-4 px-4 text-xs-center">
            <v-icon color="grey darken-2">fas fa-dumbbell</v-icon>
            <div class="py-1"></div>
            <h3>Gym & Pool</h3>
            <p>We provide Gym and Swimming pool for our guests*</p>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
    <section class="" id="about">
      <section>
        <v-layout row wrap>
          <v-flex xs12 sm12 md6 class="">
            <v-parallax :src="require('@/assets/images/bedroom-1285156_1920.jpg')" height="330" class="primary lighten-2"></v-parallax>
          </v-flex>
          <v-flex xs12 sm12 md6 class="primary white--text">
            <v-container>
            <div class="py-3"></div>
            <h2 class="display-6">About BSA</h2>
            <div class="py-3"></div>
            <p>Best Serviced apartments offer a fine mix of a standard , superior and deluxe apartments to rent within mintiues in Technopark main areas .which are larger than hotel rooms, range from spacious Studios to the ultimate in luxury, two 4 bedroom penthouses with private access.
              We offers to individual travellers who plan on a business visit, or corporate companies that offer accommodation to their onsite employees in Trivandrum, near Technopark, and other multinational companies such as Infosys and UST Global. </p>
            </v-container>
            <div class="px-2">
              <v-btn router-link flat small color="white" :to="{name:'About'}">More on Us <v-icon>arrow_forward</v-icon></v-btn>
            </div>
          </v-flex>
        </v-layout>
      </section>
    </section>
  </div>
</template>

<script>
export default {
  created() {
    
  },
}
</script>

<style>

</style>
